---
import Layout from '../layouts/Layout.astro'
import SectionContainer from '../components/SectionContainer.astro'
import ContruccionAlert from '../components/Construccion.astro'
---

<Layout title="Portfolio de Alejandra - Project Product Manager Junior" description="Portafolio para contratación para Alejandra, apasionada por el desarrollo web y sus alternativas para crear soluciones.">
	<main class="px-10">
		<SectionContainer customWidth="lg:w-[750px]">
			<ContruccionAlert />
		</SectionContainer>

	</main>
</Layout>
