---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        "date": "2023 - 2024",
        "title": "Practicante de Producto | Habi",
        "description": "Lideré reuniones de Scrum, optimicé flujos de trabajo en Jira y desarrollé dashboards en Power BI y Tableau para mejorar la toma de decisiones. Implementé automatización de procesos con Zapier, reduciendo tareas manuales en un 30%.",
        "link": "#"
    },
    {
        "date": "2020 - Presente",
        "title": "Co-CEO & Co-founder | Kanwee.co",
        "description": "Co-fundé y lideré un e-commerce, implementando automatización de procesos, estrategias de marketing digital con Meta Ads y TikTok Ads, y optimización de inventarios. Diseñé flujos de trabajo eficientes en Shopify y CRM, reduciendo errores operativos en un 25%.",
        "link": "https://kanwee.co"
    },
    {
        "date": "2020 - 2021",
        "title": "Ejecutiva de Atención al Cliente | OneLink by WebHelp",
        "description": "Brindé soporte técnico y resolución de problemas en una plataforma de pagos, optimizando la gestión de tickets y automatización de reportes. Implementé tableros de indicadores en Excel para mejorar la toma de decisiones operativas."
    }
]

---

<ol class="relative border-s border-gray-200 dark:border-gray-700">       
    {
        EXPERIENCE.map(experiencia => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experiencia} />
            </li>
        ))
    }           
</ol>

