---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        "date": "Julio 2023 - Enero 2024",
        "title": "Practicante de Producto | Habi",
        "description": "Fui el puente entre la estrategia y la ejecución en un entorno ágil. Dirigí reuniones Scrum para mantener alineados los objetivos del equipo, optimicé flujos de trabajo en Jira para aumentar la eficiencia y diseñé dashboards interactivos en Power BI y Tableau, transformando datos en decisiones clave. Además, implementé automatizaciones con Zapier, reduciendo la carga operativa y liberando tiempo para innovar.",
        "link": "experience_habi",
        "accordion": "JIRA"
    },
    {
        "date": "Noviembre 2020 - Presente",
        "title": "Co-CEO & Co-founder | Kanwee.co",
        "description": "Co-fundé y escalé un e-commerce desde cero, convirtiendo ideas en un negocio digital rentable. Implementé estrategias de automatización para optimizar operaciones, reduciendo errores en un 25%. Diseñé campañas publicitarias en Meta Ads y TikTok Ads, aumentando el alcance y las conversiones. Integré flujos de trabajo eficientes en Shopify y CRM, asegurando una experiencia fluida para clientes y equipo.",
        "link": "https://kanwee.co"
    },
    {
        "date": "Mayo 2020 - Febrero 2021",
        "title": "Ejecutiva de Atención al Cliente | OneLink by WebHelp",
        "description": "Transformé la experiencia del cliente al proporcionar soporte técnico ágil y efectivo en una plataforma de pagos. Optimizé la gestión de tickets, reduciendo tiempos de respuesta y mejorando la satisfacción del usuario. Además, diseñé tableros de indicadores en Excel para visualizar métricas clave y tomar decisiones informadas que impulsaron la eficiencia operativa."
    }
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">       
    {
        EXPERIENCE.map(experiencia => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experiencia} />
            </li>
        ))
    }           
</ol>

