---
const { class: className = '', id, customWidth } = Astro.props;
const widthClass = customWidth ? customWidth : 'lg:w-[900px]'
---

<section id={id} class={`w-full ${widthClass} mx-auto ${className}`}>
    <slot />
</section>
